{% extends 'todo/layout.html' %}

{% block sidebarcategory %}
    {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'category_view' category.id %}">{{category.name}}</a>
        </li>
    {% endfor %}
{% endblock %}


{% block body %}
    <h1 class="category-name">Category: {{category_name}}</h1>
    <div class="active-tasks-list">
        {% for task in active_tasks %}
        <div class="active-task">
            <div class="task-info">
                <h4>{{task.description}}</h4>
                <div class="additional-info">
                    {% if task.deadline %}
                    <h6> &#x1F4C5 {{task.deadline|date:'F j'}}</h6>
                    {% endif %}
                </div>
            </div>

            <div class="tasks-control-buttons">
                <form action="{% url 'main' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="task" id="task" value="{{task.id}}" />
                    <input class="complete-button" type="submit" name="complete" value="Complete" />
                </form>

                <form action="{% url 'main' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="{{task.id}}" />
                    <input class="remove-button" type="submit" value="Remove" />
                </form>

                <form action="{% url 'edit_task' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="edit" value="{{task.id}}" />
                    <input class="edit-button" type="submit" value="Edit" />
                </form>
            </div>
        </div>
        {% empty %}
        <h4 class="empty-tasks-text">You have no active tasks yet</h4>
        {% endfor %}
    </div>
{% endblock %}