{% extends 'todo/layout.html' %}

{% block sidebarcategory %}
    {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'category_view' category.id %}">{{category.name}}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="new-task-view">
        <form class="new-task-form" action="{% url 'new_task' %}" method="post">
            {% csrf_token %}
            {{task_form.as_table}}
            {% if edit_mode %}
            <input type="hidden" name="edit" value="{{task_id}}" />
            <input type="submit" value="Edit task" />
            {% else %}
            <input class="add-task-submit" type="submit" name="add" value="Add task" />
            {% endif %}
        </form>
    </div>
{% endblock %}